<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <!-- All Feature tests (includes Admin) -->
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <!-- API-only: routes/api.php related. Excludes Admin (admin-api), web-only tests. -->
        <testsuite name="FeatureApi">
            <file>./tests/Feature/ContractControllerTest.php</file>
            <file>./tests/Feature/DashboardReservationsTest.php</file>
            <file>./tests/Feature/ExampleTest.php</file>
            <file>./tests/Feature/MembershipRenewalTest.php</file>
            <file>./tests/Feature/MembershipServiceTest.php</file>
            <file>./tests/Feature/MigrationTest.php</file>
            <file>./tests/Feature/PropertyVideoSizeLimitTest.php</file>
            <file>./tests/Feature/Api/PropertyStoreApiTest.php</file>
            <file>./tests/Feature/RentalContractRelationshipTest.php</file>
            <file>./tests/Feature/RentalControllerTest.php</file>
            <file>./tests/Feature/RentalStoreIntegrationTest.php</file>
            <file>./tests/Feature/RentalStoreManualTest.php</file>
            <file>./tests/Feature/TenantWebsiteApiTest.php</file>
            <file>./tests/Feature/TenantWebsiteReservationTest.php</file>
            <file>./tests/Feature/UserPropertiesCompletionIntegrityTest.php</file>
            <file>./tests/Feature/WhatsappAddonsFlowTest.php</file>
            <file>./tests/Feature/WhatsappAddonsTest.php</file>
            <directory suffix="Test.php">./tests/Feature/Crm</directory>
            <directory suffix="Test.php">./tests/Feature/E2E</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="mysql"/>
        <server name="DB_HOST" value="127.0.0.1"/>
        <server name="DB_PORT" value="3306"/>
        <server name="DB_DATABASE" value="taearif_testing"/>
        <server name="DB_USERNAME" value="root"/>
        <server name="DB_PASSWORD" value=""/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
